
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    .row.content {height: 450px}
    
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }



footer{
    position: fixed;
    font-family: var(--font-normal);
   left: 0%;
   bottom: 0%;
   width: 100%;
   font-size: 25px;
   text-align: center;

}  




h2 {
    text-decoration-line: underline;
    text-align: center;
}

h1 {
    font-size: 80px;
    color:rgb(255, 251, 10);
    text-align:center;
    margin: 0%;
    top:0px;
    border-style: double;
    background-color: rgb(54, 90, 248);
}

ul {
    list-style-type: circle;
  }

  
  h2 {
    text-decoration-line: underline;
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  footer {
    position: fixed;
    font-family: var(--font-normal);
    left: 0%;
    bottom: 0%;
    width: 100%;
    font-size: 25px;
    text-align: center;
  }
  
  * {
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
    
  }
  